.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  padding-top: 22vh;

  @media (max-width: $tablet) {
    padding-top: 17.9rem;
  }

  @media (max-height: 630px) {
    padding-top: 10rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    position: relative;
    font-size: 5rem;
    line-height: 5.5rem;
    max-width: 52.5rem;
    text-align: center;
    margin: 0 0 4.8rem;
    z-index: 5;

    @media (max-width: $tablet) {
      display: block;
      font-size: 3.3rem;
      line-height: 1.1;
      max-width: 100%;
      margin: 0 0 3.9rem;
      max-width: 40rem;
    }
  }

  &__buttons {
    position: relative;
    margin: 0 0 4.8rem;
    width: 20rem;
    height: 20rem;
  }

  &__button {
    position: absolute;
    top:0;
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity $tr;
    padding: 0;

    @media (max-width: $tablet) {
      width: 21.2rem;
      height: 21.2rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      opacity: 1;
    }

    &:active,
    &:focus {
      filter: grayscale(0.1);

    }
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }


  &__decor {
    position: absolute;

    @media (max-height: 650px) {
      width: 50%;
    }

    @media (max-width: $tablet) {
      display: none;
    }



  }

  &__decor-bottom {
    max-width: initial;
    left: -36.4rem;
    bottom: -16.6rem;

    @media (max-width: $desktop) {
      width: 90rem;
      left: -25rem;
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__decor-top {
    max-width: initial;
    right: -57.5rem;
    top: -17rem;

    @media (max-width: $desktop) {
      width: 90rem;
      right: -40rem;
    }
  }

  &__decor-mobile-bottom {
    display: none;
    max-width: initial;
    left: -31.4rem;
    bottom: -18.2rem;
    width: auto;

    @media (max-width: $tablet) {
      display: block;
    }

    @media (min-height: 1101px) {
      display: none;
    }

    @media (max-height: 1100px) {
      width: 75rem;
      bottom: -7.2rem;
    }

    @media (max-height: 1050px) {
      width: 75rem;
      left: -27.4rem;
      bottom: -18.2rem;
    }

    @media (max-height: 900px) {
      width: 65rem;
      left: -27.4rem;
      bottom: -21.2rem;
    }

    @media (max-height: 850px) {
      width: 73rem;
      left: -36.4rem;
      bottom: -34.2rem;
    }

    @media (max-height: 800px) {
      width: 73rem;
      left: -36.4rem;
      bottom: -34.2rem;
    }

    @media (max-height: 750px) {
      display: none;
    }
  }

  &__decor-mobile-top {
    display: none;
    max-width: initial;
    width: 12.3rem;
    height: 12.3rem;
    right: -2.8rem;
    top: 1rem;

    @media (max-width: $tablet) {
      display: block;
    }
  }
}
